<h3> First </h3>
<li> <a href="/users/new">Create your user</a> </li>
<li> <a href="/oauth/apps/new">Register your client</a> </li>
<br>
<h3> Then </h3>
<li> Edit client.rb and replace client_id and client_secret.</li>
<li> Launch client.rb</li>
<li><a href="http://localhost:8080">Acces to the client</a>  </li>
