<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>OAuth 2.0 demo</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="header"><div class="sub">
      <h1>OAuth 2.0 demo </h1>
      <h2>Opos provider</h2>
    </div></div>
    
    <div class="content"><div class="sub">
      <%= yield %>
    </div></div>
    
  </body>
</html>

