<h3>Register a User</h3>

<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form method="post" action="/users/create">
  <fieldset>
    <label for="name">Login</label>
    <input type="text" name="login" id="login">
  </fieldset>
  
  <fieldset>
    <label for="name">Password</label>
    <input type="password" name="password" id="password">
  </fieldset>
  
  <fieldset>
    <input type="submit" value="Register">
  </fieldset>
</form>


